* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

button:hover, button:focus {
    outline: none;
  }

.orange-color {
    color: #FF6F00;
}

.blue-color {
    color: #644F9C;
}

.icon-bg {
    background-color: #fff;
    border-radius: 50%;
    padding: 50px;
}

.icon {
    font-size: 4em;
    color: #644F9C;
}

.button {
    background-color: #342b4b;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: none;
    border-radius: 20px;
    color: #fff;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.315);
}

.button-orange {
    background-color: #ff6f00c9;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: none;
    border-radius: 20px;
    color: #fff;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.315);
    font-weight: 600;
}

.button-grey {
    background-color: #F2F2F2;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: none;
    border-radius: 20px;
    color: #404040;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.315);
    font-weight: 600;
}


.circle1 {
    width: 30%;
    border-radius: 50%;
    border: 1px dashed #fff;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 140px;
    color: #fff;
}

.circle2 {
    width: 30%;
    border-radius: 50%;

    text-align: center;
    padding-top: 140px;
    padding-bottom: 140px;
    color: #342b4b;
    background-color: #fff;
}

.circle3 {
    width: 30%;
    border-radius: 50%;

    text-align: center;
    padding-top: 140px;
    padding-bottom: 140px;
    color: #fff;
    background-color: #FF6F00;
}

.hr {
    border: 1px solid linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    margin-bottom: 100px;
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0);
}

.bold-color {
    font-weight: bold;
    margin-bottom: 25px;
}

.instagram,
.facebook,
.youtube {
    color: #fff;
    border-radius: 50px;
}

.youtube {
    background-color: #FF0000;
}

.facebook {
    background-color: #4267B2;
}

.instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);

}




.swip-body {
    position: relative;
    height: 100%;
}

.swiper {
    width: 90%;
    height: 100%;

}

.swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 10px;
    width : 600px !important;
   
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-border{
    border: 1px dotted #FF0000;
    border-radius: 10px;
    display:flex;
    padding: 10px;
}

.swiper-border > img{
    height: 150px; 
    width: 200px; 
    object-fit: cover;
}


